{{ form_start(form) }}
<fieldset class="reset">
 <legend class="reset">Identité civile</legend>
 <div class="row mt-4 mb-4">
  <div class="col-lg-4 text-center">{{ form_row(form.media) }}</div>
  <div class="col-lg-8">
   <div class="row">
    <div class="col-5 mt-3">{{ form_row(form.nom) }}</div>
    <div class="col-7 mt-3">{{ form_row(form.prenom) }}</div>
    <div class="col-5 mt-3">{{ form_row(form.dateNaissance) }}</div>
    <div class="col-7 mt-3">{{ form_row(form.lieuNaissance) }}</div>
    <div class="col-5 mt-3">{{ form_row(form.sexe) }}</div>
    <div class="col-7 mt-3">{{ form_row(form.handicap) }}</div>
   </div>
  </div>
  <div class="col-md-4 mt-3">{{ form_row(form.telephone) }}</div>
  <div class="col-md-4 mt-3">{{ form_row(form.nationalite) }}</div>
  <div class="col-md-4 mt-3">{{ form_row(form.region) }}</div>
  <div class="col-md-4 mt-3">{{ form_row(form.natureCNI) }}</div>
  <div class="col-md-4 mt-3">{{ form_row(form.numeroCNI) }}</div>
  <div class="col-md-4 mt-3">{{ form_row(form.adresse) }}</div>
 </div>
</fieldset>

<fieldset class="reset mt-5">
 <legend class="reset">Situation familiale</legend>

 <div class="row block">
  <div class="col-md-6 mt-3">{{form_row(form.enfantFamille)}}</div>
  <div class="col-md-6 mt-3">{{form_row(form.enfantCharge)}}</div>
  <div class="col-md-6 mt-2">{{form_row(form.matrimoniale)}}</div>
  <div class="col-md-6 mt-2">{{form_row(form.hebergement)}}</div>
  <div class="col-md-6 mt-3">{{form_row(form.typeRessource)}}</div>
  <div class="col-md-6 mt-3">{{form_row(form.nomRessource)}}</div>
  <div class="col-md-6 mt-2">{{form_row(form.telephoneRessource)}}</div>
  <div class="col-md-6 mt-2">{{form_row(form.adresseRessource)}}</div>
 </div>
</fieldset>

<fieldset class="reset mt-5">
 <legend class="reset">Formation</legend>

 <div class="row block">
  <div class="col-md-3 mt-3">{{form_row(form.analphabete)}}</div>
  <div class="col-md-3 mt-3">
   <label for="beneficiaire_form_objectif">Objectif *</label>
   <select name="beneficiaire_form_objectif" id="beneficiaire_form[objectif]" class="form-select" required>
    <option value="">-- Selectionnez --</option>
    <option value="EMPLOI">Emploi</option>
    <option value="ENTREPRENEURIAT">Entrepreneuriat</option>
    <option value="FORMATION">Formation</option>
    <option value="RST">RST</option>
   </select>
  </div>
  <div class="col-md-6 mt-3">{{form_row(form.specialite)}}</div>
  <div class="col-md-6 mt-3">{{form_row(form.niveauEtude)}}</div>
  <div class="col-md-6 mt-3">{{form_row(form.diplome)}}</div>
  <div class="col-md-6 mt-3">{{form_row(form.niveauFormation)}}</div>
  <div class="col-md-6 mt-3">{{form_row(form.natureFormation)}}</div>
 </div>
</fieldset>

<div class="text-end mt-5">
 <a href="{{ absolute_url(path('app_backend_postulant_index')) }}" class="btn btn-outline-secondary">Annuler</a>
 <button type="submit" class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
</div>
 {{ form_widget(form) }}
{{ form_end(form) }}

