{% extends 'backend_layout.html.twig' %}

{% block title %}{{ parent() }} Mise a jour du postulant {{ postulant.nom }} {{ postulant.prenom }}{% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="card bg-light-info shadow-none position-relative overflow-hidden">
            <div class="card-body px-4 py-3">
                <div class="row align-items-center">
                    <div class="col-9">
                        <h4 class="fw-semibold mb-8">Gestion des postulants</h4>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a class="text-muted" href="#">Modules</a></li>
                                <li class="breadcrumb-item"><a class="text-muted" href="#">postulants</a></li>
                                <li class="breadcrumb-item" aria-current="page">postulants</li>
                            </ol>
                        </nav>
                    </div>
                    <div class="col-3">
                        <div class="text-center mb-n5">
                            <span class="head-icon"><i class="ti-package"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col"><h5 class="mb-2 fw-semibold fs-4">Matricule :  <span class="badge bg-danger fw-bold" style="font-weight:bold;">{{ postulant.matricule }}</span></h5></div>
                                <div class="col text-end"><a href="{{ path('app_backend_postulant_show', {'id': postulant.id}) }}" class="btn btn-primary"><i class="ti-user"></i> Retour au details</a></div>
                            </div>

                        </div>
                        <div class="card-body profile">

                            {{ include('backend/_form_postulant.html.twig', {'button_label': 'Mettre à jour'}) }}

                        </div>
                    </div>
                </div>
            </div>
        </section>


    </div>

{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Dropify/0.2.2/css/dropify.min.css">
    <style>
        label{
            color: #5e5d5d;
            font-style: italic;
            font-size: .9rem;
        }
        .form-control, .form-select{
            font-weight: 700;
            border-radius: 0;
        }
        .user-avatar{
            width: 230px;
            height: 230px;
            object-fit: cover;
            border: solid 1px #ccc;
            padding: 7px;
        }
    </style>
{% endblock %}
{% block javascripts %}
    <script src="{{ absolute_url(asset('assets/js/jquery-3.7.1.min.js')) }}"></script>
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Dropify/0.2.2/js/dropify.min.js"></script>
    <script src="{{ absolute_url(asset('assets/js/upload-init.js')) }}"></script>
    <script>
        $(document).ready(function() {

            $('.dropify').dropify();
        });
    </script>
{% endblock %}
