{% extends 'backend_layout.html.twig' %}

{% block title %}{{ parent() }} Gestion utilisateurs{% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="card bg-light-info shadow-none position-relative overflow-hidden">
            <div class="card-body px-4 py-3">
                <div class="row align-items-center">
                    <div class="col-9">
                        <h4 class="fw-semibold mb-8">Gestion des utilisateurs</h4>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a class="text-muted" href="#">Sécurité</a></li>
                                <li class="breadcrumb-item"><a class="text-muted" href="#">Utilisateur</a></li>
                                <li class="breadcrumb-item" aria-current="page">Enregistrement</li>
                            </ol>
                        </nav>
                    </div>
                    <div class="col-3">
                        <div class="text-center mb-n5">
                            <span class="head-icon"><i class="ti-package"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col"><h5 class="mb-2 fw-semibold fs-4">Formulaire d'enregistrement</h5></div>
                                <div class="col text-end"><a href="{{ absolute_url(path('app_admin_user_index')) }}" class="btn btn-primary"><i class="ti-list"></i> Liste des utilisateurs</a></div>
                            </div>

                        </div>
                        <div class="card-body">
                            <div id="table-loader" class="table-loader">
                                <div class="loader"></div>
                            </div>
                            {{ include('admin_user/_form.html.twig') }}

                        </div>
                    </div>
                </div>
            </div>
        </section>


    </div>

{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('backoffice/vendor/css/prism.min.css') }}">
    <link rel="stylesheet" href="{{ asset('backoffice/vendor/DataTables/datatables.min.css') }}">
    <link rel="stylesheet" href="{{ absolute_url(asset('backoffice/vendor/css/select2.min.css')) }}">
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('backoffice/vendor/js/prism.js') }}"></script>
    <script src="{{ asset('backoffice/vendor/DataTables/datatables.min.js') }}"></script>
    <script src="https://cdn.datatables.net/scroller/2.4.1/js/dataTables.scroller.js"></script>
    <script src="https://cdn.datatables.net/scroller/2.4.1/js/scroller.bootstrap5.js"></script>
    <script>
        $(document).ready(function() {
            var tableLoader = $('#table-loader');
            var table = $('#listes');

            table.on('init.dt', function() {
                tableLoader.find('.loader').hide();
                table.show();
            });

            table.DataTable({
                // Configurations du DataTable
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'excel', 'pdf'
                ],
                initComplete: function() {
                    tableLoader.find('.loader').show();
                    table.hide();
                },
                // scrollCollapse: true,
                // scroller: true,
                scrollX: 200
            });
        });
    </script>
    {#    <script>#}
    {#        $('#listes').DataTable( {#}
    {#            dom: 'Bfrtip',#}
    {#            buttons: [#}
    {#                'copy', 'excel', 'pdf'#}
    {#            ]#}
    {#        } );#}
    {#    </script>#}
    <script>
        $(".select2").select2();
    </script>
{% endblock %}



