{% extends 'base.html.twig' %}

{% block body %}
    <section class="profile" id="profile">
        <div class="container">
            <div class="row">
                {% include 'frontend/beneficiaire_menu.html.twig' %}
                <div class="col-12 col-lg-9 profile-content">
                    <h2 class="titre">Mes informations personnelles</h2>

                    {{ include('frontend/_form_profile.html.twig') }}


                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block title %}{{ parent() }} Mon profile{% endblock %}

{% block breadcrumb %}
    <section class="bread" id="breadcrumb">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Accueil</a></li>
                    <li class="breadcrumb-item"><a href="#">Mon espace</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Identifiction</li>
                </ol>
            </nav>
        </div>
    </section>
{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Dropify/0.2.2/css/dropify.min.css">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <style>
        label{
            color: #5e5d5d;
            font-style: italic;
            font-size: .9rem;
        }
        .form-control{
            font-weight: 500;
        }
    </style>
{% endblock %}

{% block javascripts %}
    <script src="{{ absolute_url(asset('assets/js/jquery-3.7.1.min.js')) }}"></script>
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Dropify/0.2.2/js/dropify.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="{{ absolute_url(asset('assets/js/upload-init.js')) }}"></script>

    <script>
        $(document).ready(function() {
            $('.select-2').select2();
        });
        // Initialiser Dropify et Select2 avec Turbo
        function initializeComponents() {
            // Initialisation de Dropify
            $('.dropify').dropify();

            // Initialisation de Select2
            $('.select-2').select2();
        }

        // Écouter l'événement Turbo pour initialiser les bibliothèques après le chargement de Turbo
        document.addEventListener('turbo:load', function() {
            initializeComponents();
        });

        // Si vous utilisez des frames Turbo, écoutez aussi cet événement
        document.addEventListener('turbo:frame-render', function() {
            initializeComponents();
        });

        // Pour le premier chargement de la page
        $(document).ready(function() {
            initializeComponents();
        });
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const analphabeteField = document.getElementById('beneficiaire_form_analphabete');
            const niveauEtudeField = document.getElementById('beneficiaire_form_niveauEtude');
            const diplomeField = document.getElementById('beneficiaire_form_diplome');
            const niveauFormationField = document.getElementById('beneficiaire_form_niveauFormation');
            const natureFormationField = document.getElementById('beneficiaire_form_natureFormation');
            const formationSelect = document.getElementById('formation');

            function resetFields() {
                niveauEtudeField.value = ""; // Réinitialiser le champ niveauEtude
                diplomeField.value = ""; // Réinitialiser le champ diplome
                niveauFormationField.value = ""; // Réinitialiser le champ niveauFormation
                natureFormationField.value = ""; // Réinitialiser le champ natureFormation
                formationSelect.value = ""; // Réinitialiser le champ formation
            }

            function resetGenerale() {
                niveauEtudeField.value = ""; // Réinitialiser le champ niveauEtude
                diplomeField.value = ""; // Réinitialiser le champ diplome
            }

            function resetProfessionnelle() {
                niveauFormationField.value = ""; // Réinitialiser le champ niveauFormation
                natureFormationField.value = ""; // Réinitialiser le champ natureFormation
            }

            function updateFieldset() {
                const isAnalphabete = analphabeteField.value === "1";

                // Désactiver tous les champs
                formationSelect.disabled = true;
                niveauEtudeField.disabled = true;
                diplomeField.disabled = true;
                niveauFormationField.disabled = true;
                natureFormationField.disabled = true;

                if (isAnalphabete) {
                    resetFields(); // Réinitialiser les champs si analphabète est sélectionné
                } else {
                    formationSelect.disabled = false;
                    const formationType = document.querySelector('select[name="formation"]');
                    if (formationType && formationSelect.value === 'GENERALE') {
                        niveauEtudeField.disabled = false;
                        diplomeField.disabled = false;
                        resetProfessionnelle();
                    } else if (formationType && formationSelect.value === 'PROFESSIONNELLE') {
                        niveauFormationField.disabled = false;
                        natureFormationField.disabled = false;
                        resetGenerale();
                    }
                }
            }

            analphabeteField.addEventListener('change', updateFieldset);
            formationSelect.addEventListener('change', updateFieldset);

            // Initial call
            updateFieldset();
        });
    </script>

{% endblock %}