{% extends 'base.html.twig' %}

{% block body %}
    <section class="profile" id="profile">
        <div class="container">
            <div class="row">
                {% include 'frontend/beneficiaire_menu.html.twig' %}
                <div class="col-12 col-lg-9 profile-content">
                    <h2 class="titre">Liste de mes projets</h2>

                    <fieldset class="reset mt-5">
                        <legend class="reset">Description du projet</legend>
                        <div class="row block">
                            <div class="col-md-6 mt-2">
                                <label for="idee">Idée de projet</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="col-md-6 mt-2">
                                <label for="objectif">Objectif <em>(Pourquoi voulez-vous faire ce projet?)</em> </label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="col-md-6 mt-2">
                                <label for="entreprise">Nom de l'entreprise</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="col-md-6 mt-2">
                                <label for="travail">Comment vouslez-vous travailler?</label>
                                <select name="" id="" class="form-select">
                                    <option value="1">Seul</option>
                                    <option value="2">Avec employés</option>
                                    <option value="3">Association</option>
                                </select>
                            </div>
                            <div class="col-md-6 mt-2">
                                <label for="situation">A quel endroit serez-vous situé?</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </fieldset>

                    <fieldset class="reset mt-5">
                        <legend class="reset">Plan de developpement</legend>

                        <div class="row block">
                            <div class="col-md-6 mt-2">
                                <label for="service">Quels produits / services proposez-vous?</label>
                                <textarea class="form-control" id=""></textarea>
                            </div>
                            <div class="col-md-6 mt-2">
                                <label for="force">Quelles eb sont les forces?</label>
                                <textarea name="" id="" class="form-control"></textarea>
                            </div>
                            <div class="col-md-6 mt-2">
                                <label for="">Où allez-vous acheter vos produits et matière premieres?</label>
                                <textarea name="" id="" class="form-control"></textarea>
                            </div>
                            <div class="col-md-6 mt-2">
                                <label for="">Qui sont les clients actuels?</label>
                                <textarea name="" id="" class="form-control"></textarea>
                            </div>
                            <div class="col-md-6 mt-2">
                                <label for="">Qui sont les clients futurs?</label>
                                <textarea name="" id="" class="form-control"></textarea>
                            </div>
                            <div class="col-md-6 mt-2">
                                <label for="">Qui sont les concurrents</label>
                                <textarea name="" id="" class="form-control"></textarea>
                            </div>
                            <div class="col-md-6 mt-2">
                                <label for="">Quel est le prix de votre produit?</label>
                                <textarea name="" id="" class="form-control"></textarea>
                            </div>
                            <div class="col-md-6 mt-2">
                                <label for="">Quel est le benefice defini par produit?</label>
                                <textarea name="" id="" class="form-control"></textarea>
                            </div>
                            <div class="col-md-6 mt-2">
                                <label for="">Comment fixez-vous le prix?</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="col-md-6 mt-2">
                                <label for="">Condition de paiement</label>
                                <select name="" id="" class="form-select">
                                    <option value="1">Cash</option>
                                    <option value="2">Crédit</option>
                                </select>
                            </div>
                            <div class="col-md-6 mt-2">
                                <label for="">Comment allez-vous vendre vos produits</label>
                                <select name="" id="" class="form-select">
                                    <option value="1">Direct</option>
                                    <option value="2">Avec des distributeurs</option>
                                    <option value="3">Détaillants</option>
                                </select>
                            </div>
                            <div class="col-md-6 mt-2">
                                <label for="">Comment voulez-vous faire connaitre?</label>
                                <select name="" id="" class="form-select">
                                    <option value="1">Bouche à l'oreille</option>
                                    <option value="2">Petite rencontre</option>
                                    <option value="3">la criée</option>
                                </select>
                            </div>
                        </div>
                    </fieldset>

                    <fieldset class="reset mt-5">
                        <legend class="reset">Identité de l'aval</legend>

                        <div class="row block">
                            <div class="col-md-6 mt-2">
                                <label for="">Nom </label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="col-md-6 mt-2">
                                <label for="">Prenoms</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="col-md-4 mt-2">
                                <label for="">Date de naissance</label>
                                <input type="date" class="form-control">
                            </div>
                            <div class="col-md-8 mt-2">
                                <label for="">Lieu de naissance</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="col-md-6 mt-2">
                                <label for="">Lieu de résidence</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="col-md-6 mt-2">
                                <label for="">Profession</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="col-md-4 mt-2">
                                <label for="">Numero de compte bancaire</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="col-md-4 mt-2">
                                <label for="">Contact</label>
                                <input type="tel" class="form-control">
                            </div>
                            <div class="col-md-4 mt-2">
                                <label for="">Email</label>
                                <input type="email" class="form-control">
                            </div>
                            <div class="col-md-6 mt-2"></div>
                        </div>
                    </fieldset>

                    <fieldset class="reset mt-5">
                        <legend class="reset">Financement</legend>

                        <div class="row block">
                            <div class="col-12 mt-3">
                                <em>- Quel montant d'argent désirez vous avoir pour commencer votre activités?</em>
                            </div>
                            <div class="col-md-6 mt-2">
                                <label for="">Montant en chiffre</label>
                                <input type="number" class="form-control">
                            </div>
                            <div class="col-md-6 mt-2">
                                <label for="">Montant en lettre</label>
                                <input type="text" class="form-control">
                            </div>

                            <div class="col-12 mt-3">
                                <em>- Comment comptez-vous effectuer le remboursement?</em>

                            </div>
                            <div class="col-md-6 mt-2">
                                <label for="">Frequence</label>
                                <select name="" id="" class="form-select">
                                    <option value="1">Semaine</option>
                                    <option value="2">Mois</option>
                                    <option value="3">Trimestre</option>
                                </select>
                            </div>
                            <div class="col-md-6 mt-2">
                                <label for="">Autres (précisez)</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </fieldset>

                    <div class="text-end mt-5">
                        <button type="submit" class="btn btn-main">Enregistrer</button>
                    </div>

                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block title %}{{ parent() }} Mes projets{% endblock %}

{% block breadcrumb %}
    <section class="bread" id="breadcrumb">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Accueil</a></li>
                    <li class="breadcrumb-item"><a href="#">Mon espace</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Mes projets</li>
                </ol>
            </nav>
        </div>
    </section>
{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Dropify/0.2.2/css/dropify.min.css">
    <style>
        .dropify-wrapper{
            fz6
        }
    </style>
{% endblock %}

{% block javascripts %}
    <script src="{{ absolute_url(asset('assets/js/jquery-3.7.1.min.js')) }}"></script>
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Dropify/0.2.2/js/dropify.min.js"></script>
    <script src="{{ absolute_url(asset('assets/js/upload-init.js')) }}"></script>

    <script>
        // Initialiser Dropify et Select2 avec Turbo
        function initializeComponents() {
            // Initialisation de Dropify
            $('.dropify').dropify();

            // Initialisation de Select2
            $('.select-2').select2();
        }

        // Écouter l'événement Turbo pour initialiser les bibliothèques après le chargement de Turbo
        document.addEventListener('turbo:load', function() {
            initializeComponents();
        });

        // Si vous utilisez des frames Turbo, écoutez aussi cet événement
        document.addEventListener('turbo:frame-render', function() {
            initializeComponents();
        });

        // Pour le premier chargement de la page
        $(document).ready(function() {
            initializeComponents();
        });
    </script>
{% endblock %}