{% extends 'backend_layout.html.twig' %}

{% block title %}{{ parent() }} Gestion liste des beneficiaires{% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="card bg-light-info shadow-none position-relative overflow-hidden">
            <div class="card-body px-4 py-3">
                <div class="row align-items-center">
                    <div class="col-9">
                        <h4 class="fw-semibold mb-8">Gestion des beneficiaires</h4>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a class="text-muted" href="#">Modules</a></li>
                                <li class="breadcrumb-item"><a class="text-muted" href="#">beneficiaires</a></li>
                                <li class="breadcrumb-item" aria-current="page">beneficiaires</li>
                            </ol>
                        </nav>
                    </div>
                    <div class="col-3">
                        <div class="text-center mb-n5">
                            <span class="head-icon"><i class="ti-package"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col"><h5 class="mb-2 fw-semibold fs-4">Liste</h5></div>

                            </div>

                        </div>
                        <div class="card-body">
                            <div id="table-loader" class="table-loader">
                                <div class="loader"></div>
                            </div>
                            <div class="table-responsive">
                                <table id="listes" class="table  border table-striped table-bordered display text-nowrap">
                                    <thead>
                                    <tr>
                                        <th class="text-center text-uppercase">#</th>
                                        <th class="text-center text-uppercase">Matricule</th>
                                        <th class="text-center text-uppercase">Nom & prenoms</th>
                                        <th class="text-center text-uppercase">Date</th>
                                        <th class="text-center text-uppercase">Lieu</th>
                                        <th class="text-center text-uppercase">Sexe</th>
                                        <th class="text-center text-uppercase">Nationalité</th>
                                        <th class="text-center text-uppercase">Region</th>
                                        <th class="text-center text-uppercase">Contact</th>
                                        <th class="text-center text-uppercase">actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for beneficiaire in beneficiaires %}
                                        <tr>
                                            <td>{{ loop.index }}</td>
                                            <td class="">{{ beneficiaire.matricule }}</td>
                                            <td class="">{{ beneficiaire.nom }} {{ beneficiaire.prenom }}</td>
                                            <td class="">{{ beneficiaire.dateNaissance|date('d/m/Y') }}</td>
                                            <td class="">{{ beneficiaire.lieuNaissance }}</td>
                                            <td class="text-center">{{ beneficiaire.sexe }}</td>
                                            <td class="text-center">{{ beneficiaire.nationalite }}</td>
                                            <td class="text-center">{{ beneficiaire.region }}</td>
                                            <td class="text-center">{{ beneficiaire.telephone }}</td>
                                            <td class="text-center">
                                                <a href="#">
                                                    <i class="ti-file"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td colspan="15">no records found</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>


    </div>

{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('backoffice/vendor/css/prism.min.css') }}">
    <link rel="stylesheet" href="{{ asset('backoffice/vendor/DataTables/datatables.min.css') }}">
    <link rel="stylesheet" href="{{ absolute_url(asset('backoffice/vendor/css/select2.min.css')) }}">
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('backoffice/vendor/js/prism.js') }}"></script>
    <script src="{{ asset('backoffice/vendor/DataTables/datatables.min.js') }}"></script>
    <script src="https://cdn.datatables.net/scroller/2.4.1/js/dataTables.scroller.js"></script>
    <script src="https://cdn.datatables.net/scroller/2.4.1/js/scroller.bootstrap5.js"></script>
    <script>
        $(document).ready(function() {
            var tableLoader = $('#table-loader');
            var table = $('#listes');

            table.on('init.dt', function() {
                tableLoader.find('.loader').hide();
                table.show();
            });

            table.DataTable({
                // Configurations du DataTable
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'excel', 'pdf'
                ],
                initComplete: function() {
                    tableLoader.find('.loader').show();
                    table.hide();
                },
                // scrollCollapse: true,
                // scroller: true,
                scrollX: 200
            });
        });
    </script>
    {#    <script>#}
    {#        $('#listes').DataTable( {#}
    {#            dom: 'Bfrtip',#}
    {#            buttons: [#}
    {#                'copy', 'excel', 'pdf'#}
    {#            ]#}
    {#        } );#}
    {#    </script>#}
    <script>
        $(".select2").select2();
    </script>
{% endblock %}
